<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmação de E-mail</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    "
  >
    <table
      style="
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border-collapse: collapse;
      "
    >
      <tr>
        <td style="padding: 20px">
          <h1 style="color: #333">Confirme seu endereço de e-mail</h1>
          <p>Olá {username},</p>
          <p>
            Por favor, clique no link abaixo para confirmar seu endereço de
            e-mail.
          </p>
          <p>{####}</p>
          <p>Obrigado,</p>
          <p>Sua Equipe</p>
        </td>
      </tr>
    </table>
  </body>
</html>
